/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }
.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks page layouts
   */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

/******** Global styles
*************************************/
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif; }

svg {
  width: 20px;
  height: 20px; }

/******** End of Global styles
*******************************/
/********* Header Styles
*****************************************/
header {
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  header .logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  header nav {
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center; }
    header nav #nav-toggler {
      display: none; }
    header nav .main-nav {
      list-style: none;
      display: flex; }
      header nav .main-nav li {
        background: white;
        padding: 16px 32px;
        position: relative; }
        header nav .main-nav li a:not(:only-child):after {
          margin: 0 8px;
          content: "";
          border: solid black;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg); }
        header nav .main-nav li ul {
          margin-left: 32px;
          list-style: none;
          min-width: 200px;
          display: none;
          position: absolute;
          z-index: 2;
          top: 50px;
          left: 0; }
          header nav .main-nav li ul:hover {
            display: block; }
        header nav .main-nav li.hovered a:not(:only-child):after {
          transform: rotate(225deg); }
        header nav .main-nav li.hovered ul {
          display: block; }

.slider {
  width: 100vw;
  background: #333;
  margin-bottom: 32px; }
  .slider div img {
    border: 2px solid white;
    height: 300px; }

.main-content {
  display: flex;
  padding: 16px; }
  .main-content .section-header {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 16px; }
  .main-content .posts {
    background: pink;
    flex-basis: 70%; }
    .main-content .posts .post {
      background: white;
      height: 200px;
      display: flex;
      margin: 16px 0; }
      .main-content .posts .post .post-img {
        height: 200px;
        width: 300px;
        flex-grow: 1;
        flex-shrink: 0; }
      .main-content .posts .post .post-data {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 0; }
        .main-content .posts .post .post-data .post-title {
          margin: 8px 0; }
        .main-content .posts .post .post-data .post-meta {
          list-style-type: none;
          margin: 8px 0;
          display: flex; }
          .main-content .posts .post .post-data .post-meta li {
            margin: 0 8px;
            color: #555;
            font-size: 0.9em; }
    .main-content .posts .pagination-container {
      list-style-type: none;
      display: flex;
      justify-content: center;
      margin: 16px 0; }
      .main-content .posts .pagination-container li {
        padding: 9.6px 24px;
        background: white;
        margin: 0 1px; }
  .main-content .single-post {
    display: flex;
    flex-direction: column;
    margin: 16px 0; }
    .main-content .single-post .single-post-title {
      font-size: 2em;
      text-align: center; }
    .main-content .single-post .single-post-meta {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 9.6px 0; }
      .main-content .single-post .single-post-meta li {
        margin: 0 16px; }
    .main-content .single-post .single-post-img {
      height: 350px;
      margin: 16px 0; }
    .main-content .single-post .sharing-btn {
      display: flex;
      justify-content: center;
      margin: 32px 0; }
      .main-content .single-post .sharing-btn button {
        margin: 0 8px; }
    .main-content .single-post .next-post {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 32px 0; }
      .main-content .single-post .next-post:after {
        margin: 0 8px;
        content: "";
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg); }
      .main-content .single-post .next-post .next-post-data {
        padding: 16px; }
      .main-content .single-post .next-post .next-post-img {
        height: 80px;
        width: 120px; }
      .main-content .single-post .next-post .next-post-meta {
        list-style: none; }
  .main-content .sidebar {
    padding: 16px;
    flex-basis: 30%; }
    .main-content .sidebar .search-box {
      display: flex;
      background: pink;
      border-radius: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2); }
      .main-content .sidebar .search-box input {
        padding: 8px 16px;
        border: none;
        flex-grow: 1;
        border-radius: 20px 0 0 20px; }
        .main-content .sidebar .search-box input:focus {
          outline: none; }
      .main-content .sidebar .search-box .search-icon {
        margin: auto 8px;
        padding: 8px; }
    .main-content .sidebar .about {
      margin: 32px 0;
      display: flex;
      padding-bottom: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      background: pink; }
      .main-content .sidebar .about:before {
        display: block;
        content: "";
        height: 200px;
        background: red;
        width: 100%;
        position: absolute;
        top: 0; }
      .main-content .sidebar .about img {
        margin-top: 64px;
        margin-bottom: 16px;
        border: 4px solid pink;
        border-radius: 2px;
        position: relative;
        z-index: 1; }
      .main-content .sidebar .about .name {
        margin: 8px 0; }
      .main-content .sidebar .about .detail {
        margin: 8px 0; }
    .main-content .sidebar .sidebar-post-container {
      background: pink;
      padding: 16px 8px; }
      .main-content .sidebar .sidebar-post-container .sidebar-post-section-heading {
        margin: 16px 0; }
    .main-content .sidebar .sidebar-post {
      display: flex;
      background: white;
      margin: 8px 0; }
      .main-content .sidebar .sidebar-post .sidebar-post-img {
        width: 90px;
        height: 60px; }
      .main-content .sidebar .sidebar-post .sidebar-post-data {
        padding: 0 8px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .main-content .sidebar .sidebar-post .sidebar-post-title {
        font-size: 0.9em; }
      .main-content .sidebar .sidebar-post .sidebar-post-meta {
        list-style: none;
        font-size: 0.8em; }

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center; }
  footer .logo {
    width: 150px; }

/*# sourceMappingURL=main.css.map */
